html {scroll-behavior: smooth;}
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
* {box-sizing: border-box;}
/* Navbar */
.dropdown-item {transition: padding .5s ease;}

.dropdown-item:hover,
.dropdown-item:focus {padding-left: 30px;}
.me-auto {margin: auto;}

.dropdown-menu a:hover {background-color: #333;}

.form-control:focus {box-shadow: 0 0 0 0.25rem #dc354547;}

@media (max-width: 768px) {
    nav .nav-link,
    nav .form-control,
    nav .btn-outline-danger {padding-top: 4px; padding-bottom: 4px;}

    nav .navbar-toggler {padding: 3px 9px 3px 9px;}
}
/* Navbar */
/* Carousel */
.carousel-item img {
    height: calc(100vh - 287px);
    border-radius: 5px;
} 
.carousel .btn {
    z-index: 2;
    transform: translate(-10%);
    bottom: 10%;
}
@media (max-width: 767px) {
.carousel .carousel-item img {height: calc(100vh - 300px);}

    .carousel .btn {
        padding: 3px 6px 3px 6px;
        font-size: 12px;
        margin-bottom: 5px;
    }
}
/* Carousel */
/* About */
.about a {color: white;}
/* About */
/* Features */
.features .menu {
    border-radius: 15px;
    margin: 5px;
    min-width: 150px;
}
.features .menu:hover svg {transform: scale(1.1 ,1.1) rotate(10deg);}

.features span {
    color: #444;
    font-size: 2rem;
}
    /* Features */
    /* Cart */
    .cart .foodie {
        margin: 5px;
        border-radius: 15px;
    }
    .cart .img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
    .cart .btn {
        border-radius: 15px;
        min-width: 200px;
    }
    /* Cart */
    /* Cookies */
    .cookies {background-color: #333;}

    .cookies .cookie {
        background-color: antiquewhite;
        width: fit-content;
    }
    .cookies .image {
        width: 350px;
        height: 350px;
        background-color: #333;
    }
    .cookies .cookie-img {
        background-color: #333;
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        border: 10px solid white;
        box-shadow: 0px 0px 5px 5px #eee;
    }
    .cookies img {width: 200px; height: 200px;}
    /* Cookies */
    /* Coffee */
    .coffee {
        background: url(../images/—Pngtree—white\ steam\ coffee\ cup\ drink_6072537.png) no-repeat center center fixed;
        background-size: cover;
        max-height: 600px;
    }
    .coffee .overlay {
        background-color: rgba(2, 2, 2, 0.5);
        color: white;
        max-height: 600px;
    }
    .coffee .coff {
        background-color: rgba(2, 2, 2, 0.5);
        min-height: 200px;
        min-width: 300px;
        border-radius: 15px;
    }
    .coffee .coff:hover svg {
        transform: rotate(5deg);
    } 
    .coffee svg { width: 39px; height: 28px;}
    /* Coffee */
    /* Subscribe */
    .subscribe .sub {
        border-radius: 30px;
        min-height: 250px;
        max-width: 750px;
        box-shadow: 0px 2px 2px #777;
    }
    .subscribe .icon {
        border-radius: 50%;
        background-color: #333;
        width: fit-content;
        left: 20px;
        top: -30px;
    }
    .subscribe svg {font-size: 50px;}

    .subscribe .text {width: fit-content;}

    .subscribe input {
        border: 1px solid #777;
        border-radius: 30px 0 0 30px;
        border-right: none;
    }
    .subscribe input:focus {
        box-shadow: none;
        border-right: none;
    }
    .subscribe button {border-radius: 0 30px 30px 0;}
    /* Subscribe */
    /* Reviews */
    .reviews .review {
        border-radius: 5px;
        box-shadow: 0px 5px 5px #ddd;
    }
    .reviews .rate {
        width: fit-content;
        border-radius: 30px;
        padding: 0;
    }
    .reviews .rate span {color: #666;}
    .reviews .prog .progress-bar {border-radius: 30px;}
    /* Reviews */
    /* Contact us  */
    .contacts {background-color: #ddd;}
    .contacts .fillup {
        border-radius: 10px;
        overflow: hidden;
        width: 300px;
    }
    .contacts p ,
    .contacts .fillup p {color : #888}

    .contacts .fillup .circle {
        left: 76%;
        top: 85%;
    }
    .contacts .fillup .circle svg {
        color: #eee;
        font-size: 150px;
    }
    .contacts .icons {
        width: fit-content;
        margin-top: 100px;
    }
    .contacts .icons li {z-index: 1;}   

    .contacts .icons li::before{
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        border: 20px solid transparent;
        left: 50%;
        top: 50%;
        transform: translate(-50% ,-50%);
        z-index: -1;
    }
    .contacts .form {border-radius: 10px;}

    .contacts .f .form-control,
    .contacts .message .form-control {
        border: none;
        border-bottom: 2px solid #ddd;
        border-radius: 0%;
        transition: 0.7s;
    }
    .contacts .f .form-control:focus,
    .contacts .message .form-control:focus {
        box-shadow: none;
        border-bottom: 2px solid #dc3545;
    }
    .contacts .f .form-label {color: #999;}

    .contacts .send .btn {
        font-size: 12px;
        border-radius: 5px;
    }
    .contacts .form-check-input { position: relative;}
    .form-check-input:checked[type=radio] {--bs-form-check-bg-image: none:}

    .contacts .form-check-input[type=radio]::after {
        font: var(--fa-font-solid);
        content:"\f00c";
        font-weight: bold;
        font-size: 10px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }
    .contacts .form-check-input:checked,
    .contacts .form-check-input:focus {
        background-color: #dc3545;
        box-shadow: none;
    }
    .fs-me {font-size: 14px;}
    /* Contact us  */
    /* Footer  */
    .footer .container {margin-top: 100px;}

    @media (min-width: 1200px) {.footer .container{max-width: 1020px;}}
    @media (max-width: 1199px) {.footer .container{max-width: 1199px;}}    
    .footer ul li a {
        color: #999;
        transition: 0.7s;
    }
    .footer ul li a:hover {color: #555;}
    /* Footer  */
    /* Loading */
    .loading {z-index: 99999;}

    .loading p {top: 55%;}

        .lds-roller {
            width: 80px;
            height: 80px;
            top: 50%;
        }
        .lds-roller div {
            animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            transform-origin: 40px 40px;
        }
        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #dc3545;
            margin: -4px 0 0 -4px;
        }
        .lds-roller div:nth-child(1) {animation-delay: -0.036s;}
        .lds-roller div:nth-child(1):after {top: 63px; left: 63px;}
        .lds-roller div:nth-child(2) {animation-delay: -0.072s;}
        .lds-roller div:nth-child(2):after {top: 68px; left: 56px;}
        .lds-roller div:nth-child(3) {animation-delay: -0.108s;}
        .lds-roller div:nth-child(3):after {top: 71px; left: 48px;}
        .lds-roller div:nth-child(4) {animation-delay: -0.144s;}
        .lds-roller div:nth-child(4):after {top: 72px; left: 40px;}
        .lds-roller div:nth-child(5) {animation-delay: -0.18s;}
        .lds-roller div:nth-child(5):after {top: 71px; left: 32px;}
        .lds-roller div:nth-child(6) {animation-delay: -0.216s;}
        .lds-roller div:nth-child(6):after {top: 68px; left: 24px;}
        .lds-roller div:nth-child(7) {animation-delay: -0.252s;}
        .lds-roller div:nth-child(7):after {top: 63px; left: 17px;}
        .lds-roller div:nth-child(8) {animation-delay: -0.288s;}
        .lds-roller div:nth-child(8):after {top: 56px; left: 12px;}

        @keyframes lds-roller {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);} }      
    /* Loading  */
    /* Scroll  */
    .scroll {
        width: 31px;
        height: 31px;
        z-index: 88888;
        bottom: 15px;
        right: 15px;
    } 
    .scroll svg:hover {color: #dc354689;}

    .show {right: -35px;}
    /* Scroll  */
    /* Grouping */
    .form-control,.form-control:focus, 
    .contacts .icons li:hover:before,.contacts .form-check-input:checked,.contacts .form-check-input:focus
    {border-color: #dc3545;}

    .about a:hover, .cart svg:hover {color : #dc3545;}

    .features .menu, .features .menu svg,
    .cart .foodie,
    .cookies .cookie,
    .coffee .coff,.coffee svg,
    .contacts .icons li::before, .contacts .form-check-input,
    .scroll , .scroll svg
    {transition: 0.7s;}

    .features .menu:hover, .cart .foodie, .reviews .review {background-color : #eee;}

    .features .menu, .cart .foodie:hover, .reviews .rate {background-color : #ddd;}
    
    .features .menu:hover, .cookies .cookie:hover, .coffee svg, .contacts .form-check-input, .scroll
    {cursor: pointer;}
    /* Grouping */
    /* Start Grid System */
    @media (min-width: 576px) { /* Small Devices => Landscape Phones */.container {max-width: 540px;}}
    @media (min-width: 768px) { /* Medium Devices => Tablets */.container {max-width: 720px;}}
    @media (min-width: 992px) { /* Desktops */.container {max-width: 960px;}} 
    @media (min-width: 1200px) { /* Large Screens */.container {max-width: 1140px;}}
    /* End Grid System */